body {
  background-color: #232323;
  text-align: center;
  width: 100%;
  overflow: hidden;
  font-family: Arial;
  color: #fff;
}

h2 {
  color: #fff;
  font-size:35px;;
}

h3 {
  color: #005997;
  font-size:25px;
}

.myButton {
  background-color:#007dc1;
  width: 75px;
  height: 75px;
  border-radius:14px;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  text-decoration:none;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.myButton:hover {
  background-color:#5692bb;
}
.myButton:active {
  position:relative;
  top:1px;
}



table.greyGridTable {
  width: 400px;
  text-align: center;
  border-collapse: collapse;
  display: inline-table;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

table.greyGridTable thead th {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
    color: #5692bb;
}
